body{
    background-color: black;
}

nav{
    background-color: #fb9037;
    display: inline-flexbox;
    padding: 20px;

}

button{
    background-color: black;
    color: rgb(21, 255, 0);
}
